@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Dancing+Script:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@import "tailwindcss";

@theme {
  /* --color-brand-accent: #c9a962; */
  --color-brand-accent: #ffc700;
  --color-brand-secondary: #ffc700;
  /* --color-background: #0a0a0a; */
  --color-background: #111111;
  --color-foreground: #ededed;
  --color-light: #faf6ef;
  --color-light-accent: #ffeab7;

  /* --font-sans: "Montserrat", sans-serif; */
  --font-serif: "Montserrat", sans-serif;
  --font-play: "Great Vibes", cursive;
  /* --font-play: "Dancing Script", cursive; */
  --font-kranky: "Kranky", serif;
  --font-fred: "Fredericka the Great", serif;
  /* --font-sans: "Cormorant Garamond", serif; */
  --font-sans: "Montserrat", sans-serif;
  --font-protest: "Protest Revolution", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0a0a;
  color: #efe5d1;
  font-weight: 400;
}
